<p>content works!</p>
<section>
<div class="first">
<div><img src={{laptop}} alt="" > </div>
<div><a href="#"><p>Ноутбуки</p></a></div>
</div>
<div class="first">
    <div><img src={{screen}} alt=""></div>
    <div><a href="#"><p>Мониторы</p></a></div>
    </div>
    <div class="first">
        <div><img src={{PC}} alt=""></div>
        <div><a href="#"><p>Компьютеры</p></a></div>
        </div>
        <div class="first">
            <div><img src={{gaming}} alt=""></div>
            <div><a href="#"><p>Gaming</p></a></div>
            </div>
            <div class="first">
                <div><img src={{pads}} alt=""></div>
                <div><a href="#"><p>Планшеты</p></a></div>
                </div>
                <div class="first">
                    <div><img src={{cabels}} alt=""></div>
                    <div><a href="#"><p>Кабели а переходники</p></a></div>
                    </div>
                    <div class="first">
                        <div><img src={{components}} alt=""></div>
                        <div><a href="#"><p>Комплектующие</p></a></div>
                        </div>
                    <div class="first">
                        <div><img src={{router}} alt=""></div>
                        <div><a href="#"><p>Сетевое оборудование</p></a></div>
                        </div>
                        <div class="first">
                            <div><img src={{ReturnHeadPhones()}} alt=""></div>
                            <div><a href="#"><p>Наушники и аксесссуары</p></a></div>
                            </div>
                            <div class="first">
                                <div><img src={{keyboards}} alt=""></div>
                                <div><a href="#"><p>Клавиатуры и мыши</p></a></div>
            
                                </div>
                                <div class="first">
                                    <div><img src={{details}} alt=""></div>
                                    <div><a href="#"><p>Аксессуары для электроники</p></a></div>
                                    </div>
                                    <div class="first">
                                        <div><img src={{printer}} alt=""></div>
                                        <div><a href="#"><p>Оргтехника</p></a></div>
                                        </div>
                                       


</section>
