<p>content works!</p>
<section>
<div class="first">
<div><img src="src/assets/02_ideapad_1_hero_front_facing_jd-2048x2048_7_1.jpg.webp" alt="" > </div>
<div><a href="#"><p>Ноутбуки</p></a></div>
</div>
<div class="first">
    <div><img src="src/assets/2E-B2423B-01.UA-1.jpg" alt=""></div>
    <div><a href="#"><p>Компьютеры</p></a></div>
    </div>
    <div class="first">
        <div><img src="src/assets/9f4bd65e876698ae3ad1208f19e98c58.png" alt=""></div>
        <div><a href="#"><p>Мониторы</p></a></div>
        </div>
        <div class="first">
            <div><img src="src/assets/16_1500.jpg" alt=""></div>
            <div><a href="#"><p>Gaming</p></a></div>
            </div>
            <div class="first">
                <div><img src="src/assets/52398_004.JPG" alt=""></div>
                <div><a href="#"><p>Планшеты</p></a></div>
                </div>
                <div class="first">
                    <div><img src="src/assets/103613.600.png" alt=""></div>
                    <div><a href="#"><p>Кабели а переходники</p></a></div>
                    </div>
                    <div class="first">
                        <div><img src="src/assets/SU0691475-0.jpg" alt=""></div>
                        <div><a href="#"><p>Комплектующие</p></a></div>
                        </div>
                    <div class="first">
                        <div><img src="src/assets/3349387723_w640_h640_igrovoj-pk-bu.jpg.webp" alt=""></div>
                        <div><a href="#"><p>Сетевое оборудование</p></a></div>
                        </div>
                        <div class="first">
                            <div><img src="src/assets/Apple-AirPods-Pro-2-35-White-03-600x600.jpg.webp" alt=""></div>
                            <div><a href="#"><p>Наушники и аксесссуары</p></a></div>
                            </div>
                            <div class="first">
                                <div><img src="src/assets/images-6.jpeg" alt=""></div>
                                <div><a href="#"><p>Клавиатуры и мыши</p></a></div>
            
                                </div>
                                <div class="first">
                                    <div><img src="src/assets/marshrutizator-router-tp-link-archer-ax12-ax1500-wi-fi-6-archer-ax12.jpg" alt=""></div>
                                    <div><a href="#"><p>Аксессуары для электроники</p></a></div>
                                    </div>
                                    <div class="first">
                                        <div><img src="src/assets/originalnyy-data-kabel-samsung-fast-charge-type-c-ep-dn930cwe-58577429337633_small11.jpg" alt=""></div>
                                        <div><a href="#"><p>Оргтехника</p></a></div>
                                        </div>
                                       


</section>
